<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{constant('main\\Bootstrap::ENTRY_URL')}}stylesheets/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <title>MUSCLE STORE｜購入履歴ページ</title>
</head>
<body>
<header>
    {% include 'header.html.twig' %}
</header>
<main class="container">
    <section id="buy_history" class="pt-4">
        <h2 class="font-weight-bold mt-4 mb-4">購入履歴</h2>
        {% if buy_history | length == 0 %}
            <p>購入履歴はありません</p>
        {% else %}
            {% for key, value in buy_history %}
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="card-title font-weight-bold">{{value.buy_date|date("Y年m月d日")}}</h5>
                        <p class="card-text text-right"><small>合計：&yen;{{value.price|number_format(0, '.', ',')}}</small></p>
                    </div>
                    <div class="card-body">
                        {% for item_id, num in value.buy_data %}
                            {% for item_data_value in item_data %}
                                {% if item_data_value.item_id == item_id %}
                                    <h5 class="card-text font-weight-bold mb-4">{{item_data_value.item_name}}</h5>
                                    <p class="card-text">価格：&yen;{{item_data_value.price|number_format(0, '.', ',')}}</p>
                                    <p class="card-text">数量：{{num}}</p>
                                {% endif %}
                            {%  endfor %}
                            <div class="mb-2">
                                <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}review.php?item_id={{item_id}}" class="card-link">レビューを書く</a>
                                <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{item_id}}" class="card-link">再度購入する</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </section>

        <br>
    <p><a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php">商品一覧へ戻る</a></p>
    <div class="mt-3">
        <p><a href="{{constant('main\\Bootstrap::ENTRY_URL')}}mypage.php">マイページへ戻る</a></p>
    </div>
</main>
<footer>
    {% include 'footer.html.twig' %}
</footer>
</body>
</html>