<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{constant('main\\Bootstrap::ENTRY_URL')}}stylesheets/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <title>MUSCLE STORE｜購入履歴ページ</title>
</head>
<body>
<header>
    {% include 'header.html.twig' %}
</header>
<main class="container">
    <h2 class="h2 mt-4 mb-4">購入履歴</h2>
    {% if buy_history | length == 0 %}
        <p>購入履歴はありません</p>
    {% else %}
        {% for key, value in buy_history %}
        <div>
            <p>購入日：{{value.buy_date|date("Y年m月d日")}}</p>
            <p>合計：&yen;{{value.price|number_format(0, '.', ',')}}</p>
                {% for item_id, num in value.buy_data %}
                    {% for item_data_value in item_data %}
                        {% if item_data_value.item_id == item_id %}
                            <p>商品名：{{item_data_value.item_name}}</p>
                            <img src="{{constant('main\\Bootstrap::ENTRY_URL')}}images/{{item_data_value.image}}" alt="{{item_data_value.image}}" width="10%">
                            <p>価格：&yen;{{item_data_value.price|number_format(0, '.', ',')}}</p>
                            <p>数量：{{num}}</p>
                        {% endif %}
                    {%  endfor %}
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}review.php?item_id={{item_id}}">レビューを書く</a>
                {% endfor %}
        </div>
        <br>
        {% endfor %}
    {% endif %}
    <p><a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php">商品一覧へ戻る</a></p>
</main>
<footer>
    {% include 'footer.html.twig' %}
</footer>
</body>
</html>