<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{constant('main\\Bootstrap::ENTRY_URL')}}stylesheets/index.css" rel="stylesheet">
    <title>MUSCLE STORE｜購入履歴ページ</title>
</head>
<body>
<header>
    {% include 'header.html.twig' %}
</header>
<main class="container">
    <h2 class="h2 mt-4 mb-4">購入履歴</h2>
    {% if buy_history | length == 0 %}
        <p>購入履歴はありません</p>
    {% else %}
        {% for key, value in buy_history %}
        <div>
            <p>購入日：{{value.buy_date|date("Y年m月d日")}}</p>
            <p>合計：&yen;{{value.price|number_format(0, '.', ',')}}</p>
                {% for item_id, num in value.buy_data %}
                    {% for item_data_value in item_data %}
                        {% if item_data_value.item_id == item_id %}
                            <p>商品名：{{item_data_value.item_name}}</p>
                            <img src="{{constant('main\\Bootstrap::ENTRY_URL')}}images/{{item_data_value.image}}" alt="{{item_data_value.image}}" width="10%">
                            <p>価格：&yen;{{item_data_value.price|number_format(0, '.', ',')}}</p>
                            <p>数量：{{num}}</p>
                        {% endif %}
                    {%  endfor %}
                {% endfor %}
        </div>
        <br>
        {% endfor %}
    {% endif %}
    <p><a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php">商品一覧へ戻る</a></p>
</main>
<footer>
    {% include 'footer.html.twig' %}
</footer>
</body>
</html>