<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="{{constant('main\\Bootstrap::ENTRY_URL')}}stylesheets/index.css" rel="stylesheet">
    <script src="{{constant('main\\Bootstrap::APP_URL')}}js/muscle.js"></script>
    <title>MUSCLE STORE｜カート</title>
</head>
<body>
<input type="hidden" name="entry_url" value="{{constant('main\\Bootstrap::ENTRY_URL')}}" id="entry_url">
<header>
    {% include 'header.html.twig' %}
</header>
<main class="container">
    <section id="cart" class="pt-4">
        <h2 class="font-weight-bold mt-4 mb-4">{{ user_name }}さんのカート</h2>
        {% if dataArr | length == 0 %}
            <p>カートに商品は入っていません</p>
        {% else %}
            <div class="card mb-4">
                <div class="card-body">
                    <div id="total" class="card-text">
                        カート内商品数：{{sumNum}}個<br>
                        合計金額：&yen;{{sumPrice|number_format(0, '.', ',')}}
                    </div>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}buy.php" class="btn btn-primary mt-2">購入する</a>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 justify-content-start no-gutters mb-4">
                {% for value in dataArr %}
                    <div class="card col py-2 px-0 mb-2" style="min-width: 10rem;">
                        <img src="{{constant('main\\Bootstrap::ENTRY_URL')}}images/{{value.image}}" class="card-img-top mx-auto" alt="{{value.item_name}}" style="width: 250px;">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">{{value.item_name}}</h5>
                            <p class="card-text">価格：&yen;{{value.price|number_format(0, '.', ',')}}</p>
                            <div class="form-group form-inline">
                                <label fclass="control-label my-auto">数量：</label>
                                <select class="form-control mr-2 amount" style="width: 70px;" name="amount">
                                    {% for index, label in amountArr %}
                                        <option value="{{label}}" {% if value.num == label %} selected {% endif %}>{{ label }}</option>
                                    {% endfor %}
                                </select>
                                <div type="button" class="btn btn-primary w-20">
                                    <span class="num_change">変更
                                        <input type="hidden" class="item_id" value="{{value.item_id}}">
                                        <input type="hidden" class="user_id" value="{{user_id}}">
                                    </span>
                                </div>
                            </div>
                            <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}cart.php?del_item_id={{value.item_id}}" class="btn btn-secondary">削除</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </section>
    <div class="mt-3">
        <p><a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php">商品一覧へ戻る</a></p>
    </div>
    <div class="mt-3">
        <p><a href="{{constant('main\\Bootstrap::ENTRY_URL')}}mypage.php">マイページへ戻る</a></p>
    </div>
</main>
<footer>
    {% include 'footer.html.twig' %}
</footer>
</body>
</html>