<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{constant('main\\Bootstrap::ENTRY_URL')}}stylesheets/index.css" rel="stylesheet">
    <title>MUSCLE STORE｜新規登録確認ページ</title>
</head>
<body>
<header>
    {% include 'header.html.twig' %}
</header>
<main class="container">
    <h2 class="h2 mt-4 mb-4">入力情報の確認</h2>
    <form method="post" action="create_account_confirm.php">
        <div>
            <div>氏：{{dataArr.family_name}}</div>
            <div>名：{{dataArr.first_name}}</div>
            <div>メールアドレス：{{dataArr.email}}</div>
            <div>パスワード：******</div>
        </div>
        <div>
            <input type="submit" class="btn btn-secondary" name="back" value="修正する">
            <input type="submit" class="btn btn-primary" name="complete" value="登録する">
        </div>
        {% for key,value in dataArr %}
            <input type="hidden" name="{{key}}" value="{{value}}">
        {% endfor %}
    </form>
</main>
<footer>
    {% include 'footer.html.twig' %}
</footer>
</body>
</html>