<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{constant('main\\Bootstrap::ENTRY_URL')}}stylesheets/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <title>MUSCLE STORE｜退会確認ページ</title>
</head>
<body>
<header>
    {% include 'header.html.twig' %}
</header>
<main class="container">
    <section id="delete_account_confirm" class="pt-4">
        <h2 class="font-weight-bold mt-4 mb-4">入力情報の確認</h2>
        <div class="mb-4">
            <h5 class="font-weight-bold mb-4">退会理由</h5>
            <ul class="list-group list-group-flush">
                {% for index, label in delArr %}
                    {% if dataArr.del_ctg_id == index %}
                        <li class="list-group-item">{{label}}</li>
                    {% endif %}
                {% endfor %}
                <li class="list-group-item">{{dataArr.del_text}}</li>
            </ul>
        </div>
        <form method="post" action="delete_account_confirm.php">
            <div>
                <input type="submit" class="btn btn-secondary w-20" name="back" value="修正する">
                <input type="submit" class="btn btn-primary w-20" name="complete" value="退会する">
            </div>
            {% for key,value in dataArr %}
                <input type="hidden" name="{{key}}" value="{{value}}">
            {% endfor %}
        </form>
    </section>
</main>
<footer>
    {% include 'footer.html.twig' %}
</footer>
</body>
</html>