<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{constant('main\\Bootstrap::ENTRY_URL')}}stylesheets/index.css" rel="stylesheet">
    <title>MUSCLE STORE｜退会ページ</title>
</head>
<body>
<header>
    {% include 'header.html.twig' %}
</header>
<main class="container">
    <h2 class="h2 mt-4 mb-4">退会手続き</h2>
        <p>退会理由を入力してください</p>
        {% if errArr.del_ctg_id | length > 0 %}
            <div class="text-danger">{{errArr.del_ctg_id}}</div>
        {% endif %}
        <form action="delete_account_confirm.php" method="post">
            <div class="text-danger">{% if errArr.login | length > 0 %}{{errArr.login}}{% endif %}</div>
            <div class="container">
                {% for index, label in delArr %}
                <input type="radio" id="del_{{index}}" name="del_ctg_id" value="{{index}}" {% if dataArr.del_ctg_id == index %} checked="checked" {% endif %}>
                <label for="del_{{index}}">{{label}}</label><br>
                {% endfor %}
            </div>
            <div class="form-group">
                <div>上記理由の詳細：</div>
                {% if errArr.del_text | length > 0 %}
                    <div class="text-danger">{{errArr.del_text}}</div>
                {% endif %}
                <textarea class="form-control" name="del_text" cols="40" rows="5">{{dataArr.del_text}}</textarea>
            </div>
            <div>
                <input type="submit" class="btn btn-primary" name="confirm" value="入力情報の確認">
            </div>
        </form>
</main>
<footer>
    {% include 'footer.html.twig' %}
</footer>
</body>
</html>