<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{constant('main\\Bootstrap::ENTRY_URL')}}stylesheets/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <title>MUSCLE STORE｜退会ページ</title>
</head>
<body>
<header>
    {% include 'header.html.twig' %}
</header>
<main class="container">
    <section id="delete_account" class="pt-4">
        <h2 class="font-weight-bold mt-4 mb-4">退会手続き</h2>
        <form method="post" action="delete_account_confirm.php">
            <p class="form-text">退会理由を入力してください</p>
            <div class="form-check mb-2">
                {% for index, label in delArr %}
                    <input class="form-check-input" type="radio" id="del_{{index}}" name="del_ctg_id" value="{{index}}" {% if dataArr.del_ctg_id == index %} checked="checked" {% endif %}>
                    <label class="form-check-label" for="del_{{index}}">{{label}}</label><br>
                {% endfor %}
                {% if errArr.del_ctg_id | length > 0 %}
                    <small class="text-danger">{{errArr.del_ctg_id}}</small>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="del_text">上記理由の詳細</label>
                <textarea class="form-control" id="del_text" name="del_text" rows="3" placeholder="入力欄">{{dataArr.del_text}}</textarea>
                {% if errArr.del_text | length > 0 %}
                    <small class="form-text text-danger pl-3">{{errArr.del_text}}</small>
                {% endif %}
            </div>
            <input type="submit" class="btn btn-primary w-20" name="confirm" value="入力情報の確認">
        </form>
        <div class="mt-3">
            <p><a href="{{constant('main\\Bootstrap::ENTRY_URL')}}mypage.php">マイページへ戻る</a></p>
        </div>
    </section>
</main>
<footer>
    {% include 'footer.html.twig' %}
</footer>
</body>
</html>