<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="{{constant('main\\Bootstrap::ENTRY_URL')}}stylesheets/index.css" rel="stylesheet">
    <script src="{{constant('main\\Bootstrap::APP_URL')}}js/muscle.js"></script>
    <title>MUSCLE STORE｜商品詳細ページ</title>
</head>
<body>
<input type="hidden" name="entry_url" value="{{constant('main\\Bootstrap::ENTRY_URL')}}" id="entry_url">
<header>
    {% include 'header.html.twig' %}
</header>
<main class="container">
    <section id="detail" class="pt-4">
        <h2 class="font-weight-bold mt-4 mb-4">商品詳細</h2>
        <div class="card mb-3">
            <div class="bd-placeholder-img card-img-top text-center pt-3 pb-2">
                <img src="{{constant('main\\Bootstrap::ENTRY_URL')}}images/{{itemData.image}}" alt="{{itemData.item_name}}">
            </div>
            <div class="card-body">
                <h5 class="card-title font-weight-bold">{{itemData.item_name}}</h5>
                <p class="card-text">{{itemData.detail}}</p>
                <p class="card-text">&yen;{{itemData.price|number_format(0, '.', ',')}}</p>
            </div>
        </div>
        <form method="post" action="cart_in.php">
            <div class="form-group">
                <label for="amount_{{index}}">数量：</label>
                <select class="form-control" name="amount">
                    {% for index, label in amountArr %}
                        <option id="amount_{{index}}" value="{{index}}" {% if itemData.amount == index %} selected {% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
                {% if errMsg | length > 0 %}
                    <small class="form-text text-danger">{{errMsg}}</small>
                {% endif %}
            </div>
            <input type="hidden" name="item_id" id="item_id" value="{{itemData.item_id}}">
            <input type="submit" class="btn btn-primary" name="cart_in" value="カートへ入れる">
        </form>
    </section>
    <section id="review" class="pt-4">
        <h2 class="font-weight-bold mt-4 mb-4">レビュー</h2>
        {% if reviewArr | length > 0 %}
            {% for key, value in reviewArr %}
                <div class="card border-dark mb-3">
                    <div class="card-header">{{value.user_name}}さん</div>
                    <div class="card-body text-dark">
                        <h5 class="card-title">{{value.content}}</h5>
                        <p class="card-text text-right"><small class="text-muted">{{value.review_date | date("Y年m月d日H時i分")}}</small></p>
                        <div class="good_btn" value="{{value.review_id}}">
                            <div class="btn good {% if value.isGood | length > 0 %}active{% endif %}">
                                <input type="hidden" class="user_id" value="{{user_id}}">
                                <input type="hidden" class="review_id" value="{{value.review_id}}">
                                <i class="fa-heart fa-lg px-16 {% if value.isGood | length > 0 %}active fas{% else %}far{% endif %}"></i>
                                <span>{{value.goodAmount}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="mb-4">まだレビューはありません</div>
        {% endif %}
    </section>
    {% include 'find_item.html.twig' %}
</main>
<footer>
    {% include 'footer.html.twig' %}
</footer>
</body>
</html>