<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{constant('main\\Bootstrap::ENTRY_URL')}}stylesheets/index.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{constant('main\\Bootstrap::APP_URL')}}js/muscle.js"></script>
    <title>MUSCLE STORE｜商品詳細ページ</title>
</head>
<body>
<input type="hidden" name="entry_url" value="{{constant('main\\Bootstrap::ENTRY_URL')}}" id="entry_url">
<header>
    {% include 'header.html.twig' %}
</header>
<main class="container">
    <div>
        <div>
            <img src="{{constant('main\\Bootstrap::ENTRY_URL')}}images/{{itemData.image}}" alt="{{itemData.item_name}}">
        </div>
        <div>
            <dl>
                <dt>商品名</dt>
                <dd>{{itemData.item_name}}</dd>
                <dt>詳細</dt>
                <dd>{{itemData.detail}}</dd>
                <dt>価格</dt>
                <dd>&yen;{{itemData.price|number_format(0, '.', ',')}}</dd>
            </dl>
            <form method="post" action="cart_in.php">
                <div  class="form-group">
                    {% if errMsg | length > 0 %}
                        <div class="text-danger">{{errMsg}}</div>
                    {% endif %}
                    <label for="amount_{{index}}">数量：</label>
                    <select class="form-control" name="amount">
                        {% for index, label in amountArr %}
                        <option id="amount_{{index}}" value="{{index}}" {% if itemData.amount == index %} selected {% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="hidden" name="item_id" id="item_id" value="{{itemData.item_id}}">
                <input type="submit" class="btn btn-primary" name="cart_in" value="カートへ入れる">
            </form>
            <input type="button" class="btn btn-secondary" name="back" value="一覧へ戻る" onclick="history.back(); return false;">
        </div>
    </div>
</main>
<footer>
    {% include 'footer.html.twig' %}
</footer>
</body>
</html>