<section id="category" class="pt-4">
    <h2 class="font-weight-bold mt-4 mb-4">商品を探す</h2>
    <div class="row justify-content-center mb-4">
        <div class="card col-11 col-md-5 col-lg-3 mx-3 mb-2 p-0" style="min-width: 18rem;">
            <h5 class="card-header font-weight-bold">ブランド別</h5>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?brand=1" class="list-group-item list-group-item-action">ウイダー</a>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?brand=2" class="list-group-item list-group-item-action">ザバス</a>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?brand=3" class="list-group-item list-group-item-action">マイプロテイン</a>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?brand=5" class="list-group-item list-group-item-action">ゴールドジム</a>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?brand=6" class="list-group-item list-group-item-action">DNS</a>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?brand=9" class="list-group-item list-group-item-action">その他</a>
                </ul>
            </div>
        </div>
        <div class="card col-11 col-md-5 col-lg-3 mx-3 mb-2 p-0" style="min-width: 18rem;">
            <h5 class="card-header font-weight-bold">フレーバー別</h5>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?flavor=1" class="list-group-item list-group-item-action">ココア</a>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?flavor=2" class="list-group-item list-group-item-action">フルーツ</a>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?flavor=3" class="list-group-item list-group-item-action">コーヒー</a>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?flavor=4" class="list-group-item list-group-item-action"> バニラ</a>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?flavor=5" class="list-group-item list-group-item-action">チョコ</a>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?flavor=9" class="list-group-item list-group-item-action">その他</a>
                </ul>
            </div>
        </div>
        <div class="card col-11 col-md-5 col-lg-3 mx-3 mb-2 p-0" style="min-width: 18rem;">
            <h5 class="card-header font-weight-bold">目的別</h5>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?purpose=1" class="list-group-item list-group-item-action">増量</a>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?purpose=2" class="list-group-item list-group-item-action">減量</a>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?purpose=3" class="list-group-item list-group-item-action">健康維持</a>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?purpose=4" class="list-group-item list-group-item-action">リカバリー</a>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="search">
    <div class="col-10 col-md-12 col-lg-12 mb-2 p-0">
        <form class="form-inline my-2 my-lg-0" action="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php" method="post">
            <input class="form-control mr-sm-2" name="keywords" value="" type="search" placeholder="検索" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="search" value="検索">検索</button>
        </form>
        <div>
            <span>こんなキーワードで検索されています</span>
            <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?keywords=タンパク質">タンパク質</a>
            <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?keywords=減量">減量</a>
            <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?keywords=ビタミン">ビタミン</a>
        </div>
    </div>
</section>