<nav class="navbar navbar-light bg-light">
    <h1><a class="navbar-brand" href="{{constant('main\\Bootstrap::ENTRY_URL')}}index.php">MUSCLE STORE</a></h1>
</nav>
<div>アカウント</div>
<div>
    {% if user_name | length > 0 %}
        <div>{{ user_name }}さんのアカウント</div>
        <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}mypage.php">マイページ</a>
        <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}logout.php">ログアウト</a>
    {% endif %}
    {% if user_name | length < 1 %}
        <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}login.php">ログイン</a>
        <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}create_account.php">新規登録</a>
    {% endif %}
</div>
<div>
    {% include 'category.html.twig' %}
</div>