<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUSCLE STORE｜トップページ</title>
</head>
<body>
    <header>
        {% include 'header.html.twig' %}
    </header>
    <main>
        <div>
            <div>main-image</div>
        </div>
        <div>
            <h2>おすすめの商品</h2>
            <div>
                <a href="">item1</a>
                <a href="">item2</a>
                <a href="">item3</a>
            </div>
            <div>
                <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php">商品一覧を見る</a>
            <div>
        </div>
        <div>
            <h2>商品を探す</h2>
            <div>
                <div>
                    <div>ブランド別</div>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?brand=1">ウイダー</a>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?brand=2">ザバス</a>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?brand=3">マイプロテイン</a>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?brand=4">ゴールドスタンダード</a>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?brand=5">ゴールドジム</a>
                    <div>目的別</div>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?purpose=1">増量</a>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?purpose=2">減量</a>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?purpose=3">健康維持</a>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?purpose=4">リカバリー</a>
                    <div>フレーバー別</div>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?flavor=1">ココア</a>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?flavor=2">フルーツ</a>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?flavor=3">コーヒー</a>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?flavor=4"> バニラ</a>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?flavor=5">チョコ</a>
                </div>
                <div>
                    <form action="" method="post">
                        <input type="text" name="keyword" value="">
                        <input type="submit" name="search" value="検索">
                        <div>こんなキーワードで検索されています</div>
                        <a href="">バニラ味</a>
                        <a href="">減量</a>
                        <a href="">5kg</a>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
        {% include 'footer.html.twig' %}
    </footer>
</body>
</html>