<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{constant('main\\Bootstrap::ENTRY_URL')}}stylesheets/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <title>MUSCLE STORE｜商品ページ</title>
    <style>
    ul li {
        list-style: none;
    }
    </style>
</head>
<body>
<header>
    {% include 'header.html.twig' %}
</header>
<main class="container">
    <div>
        {% if searchFalse | length > 0 %}<div>{{searchFalse}}</div>{% endif %}
        {% if keywords | length > 0 and searchFalse | length == 0 %}<div>「{{keywords}}」の検索結果</div>{% endif %}
        {% for value in dataArr %}
        <div>
            <ul>
                <li>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value.item_id}}">{{value.item_name}}</a>
                </li>
                <li>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value.item_id}}">
                        <img src="{{constant('main\\Bootstrap::ENTRY_URL')}}images/{{value.image}}" alt="{{value.item_name}}">
                    </a>
                </li>
                <li>
                    &yen;{{value.price|number_format(0, '.',',')}}
                </li>
                <li>
                    <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value.item_id}}">詳細</a>
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>
</main>
<footer>
    {% include 'footer.html.twig' %}
</footer>
</body>
</html>