<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{constant('main\\Bootstrap::ENTRY_URL')}}stylesheets/index.css" rel="stylesheet">
    <title>MUSCLE STORE｜ログインページ</title>
</head>
<body>
<div class="container">
    <header>
        {% include 'header.html.twig' %}
    </header>
    <main>
        {% if user_name | length > 0 %}
            <div>{{ user_name }}さんは登録済みです</div>
            <div><a href="{{constant('main\\Bootstrap::ENTRY_URL')}}index.php">トップページへ</a></div>
        {% endif %}
        {% if user_name | length < 1 %}
            <input type="hidden" name="entry_url" id="entry_url" value="{{constant('main\\Bootstrap::ENTRY_URL')}}">
            <form method="post" action="login_confirm.php">
                <h2>ログイン</h2>
                <div>
                    <div class="text-danger">{% if errArr.login | length > 0 %}{{errArr.login}}{% endif %}</div>
                    <div class="form-group">
                        <label for="email">メールアドレス：</label>
                        <input type="text" id="email" class="form-control" name="email" value="{{dataArr.email}}" size="40">
                    </div>
                    <div>
                        <label for="password">パスワード：</label>
                        <input type="password" id="password" class="form-control" name="password" value="{{dataArr.password}}" size="40">
                    </div>
                </div>
                <br>
                <div>
                    <input type="submit" class="btn btn-primary" name="confirm" value="ログイン">
                </div>
            </form>
        {% endif %}
    </main>
    <footer>
        {% include 'footer.html.twig' %}
    </footer>
</div>
</body>
</html>