<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{constant('main\\Bootstrap::ENTRY_URL')}}stylesheets/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <title>MUSCLE STORE｜レビュー編集ページ</title>
</head>
<body>
<header>
    {% include 'header.html.twig' %}
</header>
<main class="container">
    <section id="review_update" class="pt-4">
        <h2 class="font-weight-bold mt-4 mb-4">レビュー編集</h2>
        <div class="card mb-3" style="max-width: 620px;">
            <div class="row no-gutters">
                <div class="col-sm-4 my-auto">
                    <img src="{{constant('main\\Bootstrap::ENTRY_URL')}}images/{{dataArr.image}}" class="card-img" alt="{{dataArr.item_name}}" weight="100%">
                </div>
                <div class="col-sm-8">
                    <div class="card-body">
                        <h5 class="card-title">{{dataArr.item_name}}</h5>
                        <p class="card-text">価格：&yen;{{dataArr.price|number_format(0, '.', ',')}}</p>
                        <p class="card-text">内容：{{dataArr.content}}</p>
                        <p class="card-text"><small class="text-muted">{{dataArr.review_date|date("Y年m月d日")}}</small></p>
                    </div>
                </div>
            </div>
        </div>
        <form method="post" action="review_list_update.php">
            {% for key,value in dataArr %}
                <input type="hidden" name="{{key}}" value="{{value}}">
            {% endfor %}
            <div class="form-group">
                <textarea class="form-control" name="content" rows="3" placeholder="編集欄">{{dataArr.content}}</textarea>
                {% if errArr | length > 0 %}
                    <small class="form-text text-danger">{{errArr.content}}</small>
                {% else %}
                    <small class="form-text text-muted">※150文字以内で入力してください</small>
                {% endif %}
            </div>
            <input type="submit" class="btn btn-primary w-20" name="confirm" value="入力内容の確認">
            <input type="submit" class="btn btn-secondary w-20" name="back" value="戻る">
        </form>
    </section>
</main>
<footer>
    {% include 'footer.html.twig' %}
</footer>
</body>
</html>