<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="{{constant('main\\Bootstrap::ENTRY_URL')}}stylesheets/index.css" rel="stylesheet">
    <script src="{{constant('main\\Bootstrap::APP_URL')}}js/muscle.js"></script>
    <title>MUSCLE STORE｜アカウント情報編集ページ</title>
</head>
<body>
<header>
    {% include 'header.html.twig' %}
</header>
<main class="container">
    <section id="update_account" class="pt-4">
        <h2 class="font-weight-bold mt-4 mb-4">アカウント情報編集</h2>
        <input type="hidden" name="entry_url" value="{{constant('main\\Bootstrap::ENTRY_URL')}}" id="entry_url">
        <form method="post" action="update_account_confirm.php">
            {% if errArr.all | length > 0 %}
                <small class="form-text text-danger">{{errArr.all}}</small>
            {% endif %}
            <div class="form-group">
                <label for="family_name">姓：{{dataArr.family_name}}</label>
                <input type="text" class="form-control" id="family_name" name="family_name" value="{{updateDataArr.family_name}}" placeholder="Family name">
                {% if errArr.family_name | length > 0 %}
                    <small class="form-text text-danger">{{ errArr.family_name }}</small>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="first_name">名：{{dataArr.first_name}}</label>
                <input type="text" class="form-control" id="first_name" name="first_name" value="{{updateDataArr.first_name}}" placeholder="First name">
                {% if errArr.first_name | length > 0 %}
                    <small class="form-text text-danger">{{ errArr.first_name }}</small>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="zip">郵便番号：{{dataArr.zip}}</label>
                <input type="text" class="form-control" id="zip" name="zip" value="{{updateDataArr.zip}}" size="7" maxlength="7" placeholder="Zip">
                <small class="form-text text-muted">※郵便番号は7文字の半角数字で入力してください</small>
                {% if errArr.zip | length > 0 %}
                    <small class="form-text text-danger">{{ errArr.zip }}</small>
                {% endif %}
                <input type="button" class="btn btn-info w-20" name="address_search" value="〒から住所を入力" id="address_search">
            </div>
            <div class="form-group">
                <label for="address">住所：{{dataArr.address}}</label>
                <input type="text" class="form-control" id="address" name="address" value="{{updateDataArr.address}}" placeholder="Address">
                {% if errArr.address | length > 0 %}
                    <small class="form-text text-danger">{{ errArr.address }}</small>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="email">メールアドレス：{{dataArr.email}}</label>
                <input type="email" class="form-control" id="email" name="email" value="{{updateDataArr.email}}" placeholder="Email">
                {% if errArr.email | length > 0 %}
                    <small class="form-text text-danger">{{ errArr.email }}</small>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="password">パスワード：******</label>
                <input type="password" class="form-control" id="password" name="password" value="" placeholder="Password">
                {% if errArr.password | length > 0 %}
                    <small class="form-text text-danger">{{ errArr.password }}</small>
                {% endif %}
            </div>
            <input type="submit" class="btn btn-primary w-20" name="confirm" value="変更を確認">
        </form>
        <div class="mt-3">
            <p><a href="{{constant('main\\Bootstrap::ENTRY_URL')}}mypage.php">マイページへ戻る</a></p>
        </div>
    </section>
</main>
<footer>
    {% include 'footer.html.twig' %}
</footer>
</body>
</html>